.clock {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 20%;
    border: 10px solid transparent;
    border-image: linear-gradient(to left top,#adf2f7 10%,  transparent 30%, transparent 70%, #adf2f7 90%);
    border-image-slice: 1;
    margin-top: 90px;
    color: #f0f0f0;
}

.time {
    background: linear-gradient(to left, #ff0000, #00ff00, #5959ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
